{% load static %}

 <!-- Hero Start -->
 <div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-succes">100% Berbahan Katun</h4>
                <h1 class="mb-5 display-3 text-danger">Bahan yang Sejuk dan Nyaman</h1>
                <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Search">
                    <button type="submit" class="btn btn-danger border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="https://i.pinimg.com/736x/65/95/92/659592719040be24ea983acd4a2a4a64.jpg" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded"></a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="https://dynamic.zacdn.com/LGSKc1n2rQzkARCnls2NnfucnN8=/filters:quality(70):format(webp)/https://static-id.zacdn.com/p/arafah-3058-8317283-1.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded"></a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="https://cdn.idntimes.com/content-images/post/20230327/jubah-muslim-modis-9eccf7689aa7f2dbb471ec3016ec2b08.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded"></a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="https://dynamic.zacdn.com/qU0aIdpSw_91-F8ktu5tdGLAmyA=/filters:quality(70):format(webp)/https://static-id.zacdn.com/p/arafah-0180-0557393-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded"></a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="https://dynamic.zacdn.com/fj_rIklBxg1F8lEOdaR4TNUtyTA=/filters:quality(70):format(webp)/https://static-id.zacdn.com/p/fame-7696-5774993-1.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded"></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->